@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

li{
    list-style-type: none;
}

.container{
  padding: 96px 0;

}

body{
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth;
}

#homepage{
  position: relative;
}

 .row{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}

.text--purple{
  color:#6415ff;
}

nav{
    height: 100px;
    width:100%;/*this makes it rersponsive*/
    max-width:1200px;
    margin:0 auto;/*centers my content*/
    display:flex;/*puts the nav__links beside the logo*/
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
}

.nav__links{
    display:flex;
    align-items: center;
}

.nav__container{
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; /*centers the nav bar*/
  padding: 0 24px;
}


.nav__link{
    margin:0 12px;
}

a{  /*edits the links*/
    margin: 0 24px;
    font-size: 14px;
    white-space: nowrap;
    font-weight: 600;
    text-decoration: none;
    color: #243e63;
    letter-spacing: 0.35px;
}

.nav__links a:last-child{    /*sign up button*/
    color: #f7fafc;
    padding: 12px 32px;
    background-color: #6415ff;
    border-radius: 100px;
    margin: 0;
}

.nav__burger{ /*btn__menu*/
  background-color: transparent;
  font-size: 1.125rem;
  border: none;
  display: none;

}

.nav__burger:hover{
  color: rgb(100, 21, 255);
  cursor: pointer;
  transition: 300ms;
}

.menu__backdrop{
  position: fixed;
  background-color: white;
  top: 0px;
  left: 0px;
  right: 0px;
  width:100vw;
  height:100%;
  max-height:90vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* display: none; */
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop{
  visibility: visible;
  opacity:1;
}

.menu__list{
  margin: 32px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link{
color: #243e63;
font-size: 16px;
}

.menu__link:hover{
  color: #6415ff;
  text-decoration: underline;
}

.menu__link--primary{
  margin:9px 0;
  background-color: #6415ff;
  padding: 16px 30px;
  border-radius:9999px ;
  color: white;
}

.menu__link--primary:hover{
  color:white;
  text-decoration: none;
  transition-duration: 300ms;
}

.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 8px;
  color: black;
}

/*

HOMEPAGE

*/

.logo{
  display:flex;
  align-items: center;
}

.logo__img{
  width:40px;
  height:40px;
  margin-right:2px;

}

.treact__word{
  font-weight: 900;
  display: flex;
  align-items: center;
  font-size: 24px;
  letter-spacing: 0.6px;
  color: #243e63;
  padding-bottom: 4px;
}

.blob-purple{/*this is relative to the homepage*/
  position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0.09;
    transform: translateX(calc(-170% / 3));
    height: 256px;
    width: 256px;
}

.homepage__wrapper{
width: calc(100% /2);
display:flex;
flex-direction:column;
}


.homepage__title{
  width: 100%;
  max-width: 600px;
}

.homepage__description{
  font-size: 18px;
  color: #243e63;
  margin: 32px 0;
  line-height: 1.5;
  width:90%;
}

.homepage__email{
  position: relative;
  max-width: 440px;
display: flex;
align-items: center;
}

.homepage__email--input{
  padding: 22px 0; /*top and bottom left and right*/
  padding-left: 32px;
  width: 100%;
  /*stretches input*/
  border-radius: 50px;
}

.homepage__email--btn{
  position: absolute;/*absolute is used for going inside an element that is relative to this*/
  background-color: #6415ff;
  color:white;
  font-weight:bold;
  right: 0;
  padding: 16px 0;
  border-radius: 9999px;
  width: 140px;
  border: none;
  margin-right: 8px;
  z-index: 2;
}

.homepage__banner--title{
  font-size: 12px;
  margin-top: 70px;
  width: 200px;
  font-weight: 600;
  color: gray;
  opacity: 0.5;
}

.homepage__banner--img{
  width: 100%;
  max-width: 1280px;
  opacity:0.5;
  margin-top:5px;
}

.homepage__figure--wrapper{
  width: 100%;
  max-width: 800px;
  position: relative;
}

.homepage__image{
  width: 100%;
  max-width: 700px;
  margin-left: 70px;
}

 .homepage__wrapper--img .row{
  display: flex;

 }


/*
features
*/


#features{
  position: relative;
}

#features .row{
  display:flex;
  flex-direction: column;
}

.features__title{
  letter-spacing: 0.1em;
  font-weight: 700;
  color: rgba(100, 21, 255, 1);
  margin-bottom: 16px;
}

.features__subheader{
  color: #243e63;
}

.features__para{
  width: 100%;
  max-width: 550px;
  text-align: center;
  margin-top: 16px;
  line-height: 1.5;
  color: rgb(124, 139, 161);
  font-weight: 500;
  font-size: 18px;
}

.features__list{
  display:flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}


.features{
  margin-top:40px;
  padding: 32px 24px;
  display: flex;
  align-items: center;
  width: calc(100% / 3);
}


.feature__list--wrapper{
  border: 2px lightgray solid;
  padding: 20px;
  border-radius: 9999px;
}

.feature__list--des{
 width: 100%;
  line-height: 1.5;
  font-weight: 700;
  margin-left: 30px;
  max-width: 200px;
  margin-top: 10px;
  color: #243e63;
}

.feature__name--header{
font-weight: 700;
font-size: 25px;
letter-spacing: 0.025rem;
}

.feature__name--para{
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  margin-top: 1rem;
}

.blob__pink{
  position: absolute;
  height: 256px;
  width: 256px;
  opacity: 0.09;
  transform: translate(calc(150% /3));
  right:0;
  bottom:0;
}

/*

QUALITY WORK

*/


.quality__work--header{
  letter-spacing: 0.1em;
  color: rgba(100, 21, 255, 1);
  margin-bottom: 16px;
}

.quality__work--subheader{
  width: 100%;
  max-width: 600px;
}

.quality__work--para{
  width: 100%;
  max-width:600px;
  text-align: left;
  line-height: 1.7;
  color: rgb(124, 139, 161);
  margin-top: 20px;
  font-weight: 500;
}

.quality__work--btn{
  margin-top: 24px;
  padding: 12px 16px;
  border-radius: 9999px;
  font-size: 16px;
  background-color: #6415ff;
  color: white;
  font-weight: 700;
  border: none;
  width: 140px;
}

#quality__work .row {
display: flex;
}

.quality__work--wrapper{
  width: 50%;
}

.quality__work--img-wrapper{
  width: 50%;
}

.quality__work--wrapper img{
  width: 100%;
  max-width: 600px;
border: 1px solid rgb(229, 231, 235);
position: relative;
}

.grid__purple{
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 0;
  transform: matrix(1,0,0,1,-40,1500);
  z-index: -1;
  fill: #6415ff;
}



/*

STEPS

*/

#steps{
  position: relative;
}

#steps .row{
  display: flex;
}


.steps__img--wrapper img{
  width: 100%;
  max-width: 500px;
}

/* .big__purple--grid{
position: absolute;
width: 10%;
height: 50%;
bottom: -15%;
transform: matrix(1,0,0,1,-368,-85);
z-index:-1;
fill: #6415ff;
opacity: 0.09;
max-width:900px
} */

.steps__header{
  font-weight:700;
  margin-bottom: 16px;
  letter-spacing: 0.1em;
  margin-left: 20px;
}

.steps__subheader{
  font-size: 3rem;
  font-weight: 600;
  margin-left: 20px;
}

.steps__row{
  display: flex;
 margin-top:32px;
}


.steps__number--wrapper{
  display: flex;
  flex-direction: column;
}

.steps__number{
  color: gray;
  font-size: 32px;
  margin-left: 50px;
}

.steps__h6{
  font-size: 18px;
  margin-bottom:16px;
  margin-left: 16px;
}

.steps__para-1{
  width: 100%;
  max-width: 280px;
  margin-left: 12px;
  line-height: 2;
  color: grey;
}

.steps__para-2{
  width: 100%;
  max-width: 330px;
  margin-left: 12px;
  line-height: 2;
  color: grey;
}


.steps__para-3{
  width: 100%;
  max-width: 330px;
  margin-left: 12px;
  line-height: 2;
  color: grey;
  font-weight: 500;
}


/*

VALUES

*/

.values__subheader{
  width: 100%;
  max-width: 500px;
}

.values__para{
  width: 100%;
  max-width: 450px;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  color:gray;
  margin-top: 20px;
}


.values__container--wrapper{
  display: flex;
}

.values__affordable--container{
margin-right: 10px;
}

.values__word-and-logo--container{
display: flex;
margin-top: 16px;
/* padding: 5px; */

}

.values__affordable--word{
font-size: 16px;
margin-left:8px;
display: flex;
align-items: center;
}

.values__affordable--para{
  width: 100%;
  max-width: 440px;
  line-height: 1.45rem;
  color: gray;
}


.values__professionalism--container{
  width: 100%;
  margin-left: 10px;
}

.values__logo--container{
  background-color: rgb(154, 230, 180);
  border-radius: 9999px;
  padding: 4px;
}

.values__logo--container-1{
  background-color: rgb(254, 178, 178);
  border-radius: 9999px;
  padding: 4px;
  margin-top: -2px;
}

.values__professionalism--word{
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.values__professionalism--para{
  width: 100%;
  max-width: 240px;
  line-height: 1.45rem;
  color: gray;
  text-align: left;
  margin-top: 2px;
}

.learn__more--btn{
  margin-top: 3rem;
  font-size: 0.875rem;
  border-radius: 9999px;
  padding: 14px 24px;
  background-color: #6415ff;
  color: white;
  border: none;
  font-weight: 600;
}

#values .row{/*this puts the image to the side*/
  display: flex;
}

.values__right--img img{/*this edits the actual image*/
  width: 100%;
  max-width: 600px;
}

/*

PRICING

*/

.pricing__des--container{
  width: 100%;
  max-width: 1280px;
  text-align: center;
}

.pricing__des{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 18px;
  color: rgb(124 139 161);
}

.pricing__header{
  margin-bottom: 1rem;
}

.pricing__subheader{
  margin-bottom: 1rem;
}


.pricing__individual{
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.pricing__box-1{
  position: relative;
  width: 100%;
  text-align: center;
  border:grey 2px solid;
  border-radius: 0.5rem;
  margin: 40px;
}
.pricing__box-2{
  position: relative;
  width: 100%;
  text-align: center;
  border:grey 2px solid;
  border-radius: 0.5rem;
  margin: 40px;
  background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.pricing__background-color-3{
  position: absolute;
  left:0px;
  right: 0px;
  top:0px;
  height: 8px;
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}
.pricing__box-3{
  position: relative;
  width: 100%;
  text-align: center;
  border:grey 2px solid;
  border-radius: 0.5rem;
  margin: 40px;
}


.pricing__background-color-1{
  position: absolute;
  left:0px;
  right: 0px;
  top:0px;
  height: 8px;
  background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.pricing__top--container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px;
}

.pricing__word{
font-size: 20px;
color: black;
font-weight: 700;
margin-bottom: 12px;
}
.pricing__word-2{
font-size: 20px;
color: white;
font-weight: 700;
margin-bottom: 12px;
}

.pricing__number{
font-size: 48px;
font-weight: 700;
}
.pricing__number-2{
font-size: 48px;
font-weight: 700;
color: white;
}


.pricing__time{
font-size: 16px;
font-weight: 600;
color: rgb(160, 174, 192);
margin-top: 16px;
}
.pricing__time-2{
font-size: 16px;
font-weight: 600;
margin-top: 16px;
color:white ;
}



.pricing__bottom--container{
padding: 8px;
}

.pricing__bottom--header{
  padding-top:12px;
  font-weight: 700;
  font-size: 1.25rem;
}
.pricing__bottom--header-2{
  padding-top:12px;
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
}

.pricing__bottom--low--terms{
  font-weight: 500;
  margin-top: 1.25rem;
}
.pricing__bottom--low--terms-2{
  font-weight: 500;
  margin-top: 1.25rem;
  color: white;
}

.pricing__button--wrapper{
  margin: 48px;
  padding: 18px;
}

.pricing__button-1{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(125, 217, 205);
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 9999px;
  /* box-shadow: ; */

} 


.pricing__button-2{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 9999px;
  background-color: rgb(247, 250, 252);
  color: rgb(100, 21, 255);
  /* box-shadow: ; */

} 

.pricing__button-3{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 16px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 9999px;
  background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
  /* box-shadow: ; */
} 

/* .pricing__blob--pink{
  position: absolute;
  left: 0;
    bottom: 0;
    height: 256px;
    width: 256px;
    transform: matrix(1, 0, 0, 1, -128, 4150);
    opacity: 0.25;
    overflow: hidden;
} */




/* 

TESTIMONIAL

*/

#testimonials .row{
  display: flex;
}

.testimonial__des--container{
margin: 0 auto;
padding-left: 68px;
max-width: 650px;
}

.testimonial__header{
  color: #6415ff;
  letter-spacing: 0.1em;
  margin-bottom: 16px;
}

.testimonial__subheader{
  font-size: 48px;
}

.testimonial__des{
  line-height: 1.5;
  max-width:500px;
  color: grey;
  margin-bottom: 50px;
}

.testimonial__star--list{
  display: flex;
  max-width: 540px;
}

.testimonial__inner--container{
  display: flex;
  flex-direction: column;
  margin: 30px 20px 0 0;

}

.testimonial__indv--wrapper{
  display: flex;
  align-items: center;

}

.testimonial__star--wrapper{
  display: flex;
}

.star__icon{
  width: 20px;
  margin:0 2px 0 0;
  fill: currentColor;
  color: rgb(246 173 85)
}

.testimonial__bottom--header{
  margin-top: 16px;
  color: #243e63;
  font-weight: 600;
  font-size: 24px;
}

.testimonial__bottom--des{
line-height: 1.5;
font-size: 16px;
color: #1a202c;
margin-top: 30px;
}

.testimonial__img--container{
  display: flex;
  margin: 0 auto;
}


.testimonial__img--wrapper img{
  width: 80px;
  border-radius: 9999px;
  overflow:hidden
}

.testimonial__profile--container{
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 16px;
  width: 100%;
}

.control__button-1 ,
.control__button-2{
  height: 50px;
  width: 50px;
  stroke-width: 3;
  border-radius: 9999px;
  padding: 12px;
  border: none;
  margin:8px;
  color: #6415ff;
}


.button__wrapper{
  display: flex;
  align-items: center;
}

.control__buttons{
  display: flex;
}

/* 

TREACT GET STARTED SECTION

*/


.treact__get-started--container{
  background-color: #6415ff;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  border-radius: 8px;
  margin-bottom: 80px;
  overflow: hidden;
  z-index:-2;
}

.background-blob-1{             
  position: absolute;
  transform: matrix(1,0,0,1,-80,128);
  color: rgb(80, 17, 204);
  left: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
  height: 320px;
  width: 320px;
}

.background-blob-2{  
  height: 320px;
  width: 320px;
  position: absolute;
  color: rgb(80, 17, 204);
  right: 0;
  top: 0;
  opacity: 0.5;
  transform: matrix(1,0,0,1,80,-256);
}

.get__started--row{         
  margin:0 auto;
  display:flex;
  justify-content: center;
  max-width: 1024px;
  padding: 0 32px;
}

.get__started--left{       
  color: white;
  font-weight: 700;
  width:50%;
}

.get__started--right{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-1{
  margin-right: 32px;
  background-color: #f56565;
}

.get__row--btn{
  padding: 20px 40px;
  border-radius: 9999px;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-2{
  background-color: transparent;
  border: 2px solid white;
}

/*

FOOTER

*/

footer{
  position: relative;
  background-color: #6415ff;
  z-index: -2;
  overflow: hidden;/**/
  width: 100%;
  min-height: 522px;
  padding: 96px 32px;
}



.footer__blob-1{
  position: absolute;
  height: 320px;
  width: 320px;
  color: rgb(80, 17, 204);
  z-index: -1;
  opacity: 0.5;
  transform: matrix(1,0,0,1,-80,-128);
}

.footer__blob-2{
  position:absolute;
  height: 320px;
  width:320px;
  color: rgb(80, 17, 204);
  z-index: -1;
  opacity: 0.5;
  right: 0;
  transform: matrix(1,0,0,1,128,192);
}

footer .row{
  width: 100%;
  flex-direction: column;
}

.footer__link--wrapper{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__column--link{
  display: block;
  margin: 8px;
  text-align: left;
  color: white;
  font-weight: 500;
}

.footer__header{
  display: flex;
  flex-direction: column;
  width:calc(100% / 5);
  align-items: center;
}

.footer__links{
  display: flex;
  flex-direction: column;
  width:calc(100% / 5);
  align-items: center;
}

.footer__header{
  margin-bottom: 24px;
  font-weight: 700;
  color: white;
}

.footer__hr{
  width: 100%;
  height:1px;
  border:rgb(116, 44, 255) 1px solid
}

.footer__lower--container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.footer__lower--logo{
  display: flex;
  align-items: center;
}

.footer__lower--header{
  color: white;
  margin-left: 16px;
  font-size: 20px;
}

.footer__copyright--container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer__lower--logo img{
  width: 35px;
}

.footer__copyright{
  color: white;
}

.footer__bottom--link{
  padding: 12px;
  background-color: white;
  border-radius: 100%;
  margin-right: 2px;
}

.footer__bottom--link svg{
  width: 20px;
  height: 20px;
  color: black;
}


.footer__social--container{
  display: flex;
}

/*SMALL SCREENS*/
@media(max-width:1024px) {
  .nav__links{
    display: none;
  }

  .nav__burger{
    display: block;
  }
  .homepage__wrapper--img .row{
    flex-direction: column;
  }
  .homepage__wrapper{
    width: 100%;
    max-width: 512px;
  }
  .homepage__title{
    font-size: 29px;
    margin-bottom: 24px;
  }
  .homepage__description{
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
  }
  .homepage__email{
    max-width: 540px;
    margin-top: 24px;
    margin-bottom:56px
  }
  .homepage__banner--title{
    margin: 0 auto;
  }

  .homepage__banner--img{
    margin-top: 24px;
  }

  .homepage__figure--wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
  }

  .homepage__image{
    width: 100%;
    max-width: 550px;
    margin-top: 40px;
  }


  /*FEATURES*/
  .feature__list--des{
    text-align: center;
  }
  .feature__name--para{
    text-align: center;
  }

  .feature__list{
    width: 33.3333%;
  }
  .quality__work--img-wrapper{
    margin-left:40px;
  }
  .quality__work--para{
    width: 100%;
    max-width:400px;
  }
  .quality__work--wrapper{
    margin-right: 60px;
  }

  /* .grid__purple{

  }*/

  /*STEPS*/
  .steps__img--wrapper{
    width: 100%;
    max-width: 500px;
  }
  .steps__header{
    margin-left: 60px;
  }
  .steps__subheader{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .steps__row{
    margin-left: 20px;
  }
  /*VALUES*/

  .values__list{
    margin-left:40px;
  }
  .values__header{
    margin-bottom: 20px;
  }
  .values__subheader{
    width: 100%;
    max-width: 500px;
    font-size: 40px;
  }

  .values__container--wrapper{
    display: inline-block;
  }
  .values__affordable--para{
    width: 100%;
    max-width:255px;
    text-align: left;
  }
  .values__right--img{
    width: 100%;
    max-width: 450px;
    margin-right: 50px;
  }

  .values__word-and-logo--container{
    padding:5px;
  }
.values__professionalism--container{
  margin-left: -5px;
}

.learn__more--btn{
  display: block;
}


  .pricing__des--container{
    margin: 0 auto;
  }
  .pricing__des{
    margin: 0 auto;
  }

  .pricing__individual {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width:350px;
    margin-left: 300px;
  }

  /*TESTIMONIALS*/

  .testimonial__img{
    margin-left: 20px;
    width: 100%;
  }

  .testimonial__header{
    font-size: 16px;
  }

  .testimonial__subheader{
    font-size: 2.25rem;
    margin:16px 0 ;
  }

  .testimonial__bottom--des{
    width: 100%;
    max-width: 630px;
  }

  .testimonial__img--container{
    margin:50px 10px
  }
} 


/* TABLETS */

@media(max-width:1013px){
  
}






























